@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    font-family: "Hack Nerd Font", "JetBrainsMono Nerd Font Propo";
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: #181616;
    background: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 0px;
    background-color: #181616;
}
#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}
#outer-box {
    border: none;
}
#scroll {
    margin: 0px;
    border: none;
}
#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: #c5c9c5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10;
    background-color: #2f2d2d;
}
#input image {
    border: none;
    color: #c5c9c5;
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10;
}
#text {
    margin: 5px;
    border: none;
    color: #c5c9c5;
    outline: none;
}
#entry {
    border: none;
    margin: 5px;
}
#entry arrow {
    border: none;
    color: #c5c9c5;
}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    background-color: #2f2d2d;
}
#entry:selected #text {
    color: #c5c9c5;
}

