* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(24, 22, 22, 0.902); /* cachydblue with alpha */
}

button {
    border-radius: 0;
    border-color: #c5c9c5; /* cachydgreen */
	text-decoration-color: #c5c9c5; /* cachywhite */
    color: #c5c9c5; /* cachywhite */
	background-color: #181616; /* cachydblue */
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #252424; /* cachymgreen */
	outline-style: none;
}

#lock {
    background-image: url("/home/jeff/.config/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/home/jeff/.config/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/home/jeff/.config/wlogout/icons/suspend.png");
}

#hibernate {
    background-image: url("/home/jeff/.config/wlogout/icons/hibernate.png");
}

#shutdown {
    background-image: url("/home/jeff/.config/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/home/jeff/.config/wlogout/icons/reboot.png");
}